<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shipper">
            <h2><span jhiTranslate="learnSqlApp.shipper.detail.title">Shipper</span> {{shipper.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="learnSqlApp.shipper.shipperName">Shipper Name</span></dt>
                <dd>
                    <span>{{shipper.shipperName}}</span>
                </dd>
                <dt><span jhiTranslate="learnSqlApp.shipper.phone">Phone</span></dt>
                <dd>
                    <span>{{shipper.phone}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shipper', shipper.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
